# Django Settings
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.amazonaws.com

# Database Configuration (Optional - Defaults to local SQLite if empty)
# Example for AWS RDS PostgreSQL: postgres://db_user:db_password@db_host:5432/db_name
DATABASE_URL=
